// Theme
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

$main-font: 'Inter', sans-serif;
$head-font: 'Inter', sans-serif;

$primary-color: #f28f79;
$secondary-color: #656b8c;

$primary-color-light: #f2cbbd;
$secondary-color-light: #a9b5d9;
$secondary-color-dark: #343140;

* {
  box-sizing: border-box;
}

@import 'presentation.scss';

html,
body {
  margin: 0;
  background: #fff;
  min-height: 100vh;
}

.App {
  font-family: $main-font, sans-serif;
  font-weight: normal;
  font-size: 24px;

  .start {
    font-family: $head-font;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 1000px;
    // align-items: center;

    h1 {
      font-size: 5rem;
      margin: 0;
    }
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 1rem 0;
      input[type='file'] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
      .btn {
        color: white;
        background: $secondary-color;
        border: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }
}
